<h2 class="link">Events List</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Category</th>
    <th>Location</th>
    <!-- <th>Date</th> -->
    <th>Seats Left</th>
  </thead>
  <tbody>

    <% @events.each do |e| %>
    <tr>
        <td><%= e.name %></td>
        <td><%= e.category.name%></td>
        <td><%= e.location.name%></td>
        <!-- <td><%= e.start_time %><%= ""%><%=e.end_time%></td> -->
        <td><%= e.location.capacity - e.bookings.sum(:capacity)%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<p class="link"><%= link_to "Add New Event", new_event_path %></p>
